.french-laundry-blue-bg {
    background-color: #3a4660;
}

.french-laundry-blue-fg {
    color: #3a4660;
}

.comfortably-tan-bg {
    background-color: #c9af98;
}

.comfortably-tan-fg {
    color: #c9af98;
}

.peachy-kreme-bg {
    background-color: #ed8a63;
}

.peachy-kreme-fg {
    color: #ed8a63;
}

.brown-bonnet-bg {
    background-color: #845007;
}

.brown-bonnet-fg {
    color: #845007;
}

.slate-bg {
    background-color: #262626;
}

.slate-fg {
    color: #262626;
}

.secondhand-grey-bg {
    background-color: #3f3f3f;
}

.whitish-bg {
    background-color: #f5f5f5;
}

.whitish-fg {
    color: #f5f5f5;
}

.light-grey-bg {
    background-color: #dcdcdc; 
}

.light-grey-fg {
    color: #dcdcdc; 
}
